NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=62895395063333

DATABASE_URL=postgresql://user:password@host:5432/agt

SALESFORCE_LEAD_ENDPOINT=
SALESFORCE_ACCESS_TOKEN=
SALESFORCE_ORG_ID=
