# dependencies
node_modules/
.npm-cache/

# next.js
.next/
out/

# production
dist/
build/
deploy-cpanel-*/

# generated document artifacts
docx_render_next_step/

# local env
.env*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-server.*.log

#docs
output/

# system
.DS_Store
Thumbs.db

.vercel

